body {
  margin: 0;
  padding: 0;
  background: #3c3c3c;
}

.flex-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}

.row {
  width: auto;
}

section {
  color: #ddd;
  font-family: "Raleway", sans-serif;
  width: 320px;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
}

h1 {
  font-size: 28px;
}

img {
  width: 150px;
  height: auto;
  border-radius: 25px;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sosial {
  margin-right: 10px;
}

.sosial:last-child {
  margin-right: 0;
}
